<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> <%= title %> | List CNode</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>

    <body> 
    	<h1> Orders</h1>
        <a href="/cnode/order"> New Order </a>
         <table>
             <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Flavor
                    </th>
                    <th>
                        Kwanteetees
                    </th>
                    <th>
                        Created At
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                 <tbody>
                  <% orders.forEach(function(order) { %>
                    <tr>
                        <td><%= order.name %></td>
                        <td><%= order.flavor %></td>
                        <td><%= order.qty %></td>
                        <td><%= order.createdAt %></td>
                        <td> 
                            <form action="/cnode/order/<%= order._id %>/complete" method="post">
                        </form>
                    </tr>
    
                 <%   }); %>
                 </tbody>
             </thead>
         </table>
    </body>
</html>